# cpp 17
build --cxxopt=-std=c++17 --linkopt="-fuse-ld=ld" --nostart_end_lib#this last option is a workaround
#clang toolchain
build --action_env=CC=/usr/bin/clang
build --action_env=CXX=/usr/bin/clang++
build --compiler=clang