CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
pyenv.cfg
venv
__pycache__
bazel-*
**/*.bazel.lock
# if you dont have external symlink use: ln -s $(bazel info output_base)/external external
external