CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
pyenv.cfg
venv
__pycache__
bazel-*
**/*.bazel.lock
.vscode/launch.json
compile_commands.json
# if you dont have external symlink use: ln -s $(bazel info output_base)/external external
external
node_modules


###########
# symlink to all external python deps pulled in by repo rule
# useful for configuring ty linter
.py_external_symlink