name: build-and-test

on:
  pull_request:
    branches: [main]
  issue_comment:
    types: [created]

jobs:
  build-and-test:
    if: github.event.issue.pull_request && contains(github.event.comment.body, ':pig_nose:')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Build all
        uses: devcontainers/ci@v0.3
        with:
          imageName: bearpawangelo/adp8-devcontainer
          cacheFrom: bearpawangelo/adp8-devcontainer
          runCmd: bazel build //...

      - name: Test all
        uses: devcontainers/ci@v0.3
        with:
          imageName: bearpawangelo/adp8-devcontainer
          cacheFrom: bearpawangelo/adp8-devcontainer
          runCmd: bazel test //...